[
    {http, [
        {pools, 5},
        {port, 8080},
        {http_secret, "abc123"},
        {debug, true}
    ]},
    {mysql, [
        {pools, 10},
        {db_host, "192.168.1.21"},
        {db_port, 3306},
        {db_user, "user"},
        {db_pass, "user_pass"},
        {db_name, "mysql_db"},
        {db_encode, utf8mb4}
    ]},
    {mongo_pool, [
        {global_or_local, local},
        {pools, [
            {mo_pool, [
                {size, 5},
                {strategy, fifo},
                {max_overflow, 10},
                {host,"192.168.1.21"},
                {port, 27017},
                {database, <<"mongo_db">>}
            ]}
        ]}
    ]}

].